@media print {

    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-sm-12 {
        width: 100%;
        float: right;
    }

    .col-sm-11 {
        width: 92%;
        float: right;
    }

    .col-sm-10 {
        width: 83%;
        float: right;
    }

    .col-sm-9 {
        width: 75%;
        float: right;
    }

    .col-sm-8 {
        width: 66%;
        float: right;
    }

    .col-sm-7 {
        width: 58%;
        float: right;
    }

    .col-sm-6 {
        width: 50%;
        float: right;
    }

    .col-sm-5 {
        width: 42%;
        float: right;
    }

    .col-sm-4 {
        width: 33%;
        float: right;
    }

    .col-sm-3 {
        width: 25%;
        float: right;
    }

    .col-sm-2 {
        width: 16%;
        float: right;
    }

    .col-sm-1 {
        width: 8%;
        float: right;
    }

    .justify-content-md-center {
        justify-content: center !important;
    }

    .align-items-end {
        align-items: flex-end !important;
    }

    .my_hidden {
        display: none;
    }

    .my_A4 {
        /*width: 297mm;*/
        height: 160mm;
    }

    .my_A5 {
        /*width: 148mm;*/
        height: 193mm;
    }

    .my_pr_mr {
        margin-top: 5cm;
    }

    .my_background_print {
        background-size: 0 0;
    }


    thead th, .total th {
        font-size: 13px;
    }

    .table td {
        font-family: 'Scheherazade', serif;
    }

    .table > :not(caption) > * > * {
        padding: 0.18rem;
    }

    @page {
        @bottom-right-corner {
            content: counter(page) ' of ' counter(pages);
        }
    }
}

